.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  border: 1px solid lightgray;
  padding: 1em;
  border-radius: 4px;
  width: 400px;
}
.Editor > button {
  background: rgb(37, 147, 255);
  color: #fff;
  padding: 1.5em 1.5em;
  border-radius: 4px;
  border: none;
}
