.List {
  /* width: 500px; */
}
.List input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 15px 0;
}
.List input:focus {
  outline: none;
  border: 1px solid rgb(37, 147, 255);
}
li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1em;
}
li span {
  color: lightgray;
}

li button {
  border: none;
  margin-left: 10px;
  background-color: rgb(236, 235, 235);
  border-radius: 4px;
}
