.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  gap: 20px;
  padding: 10px;
}

/* li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1em;
} */

.TodoItem input {
  width: 20px;
}
.TodoItem .content {
  flex: 1;
}
.TodoItem span.date {
  color: lightgray;
}

.TodoItem button {
  cursor: pointer;
  border: none;
  margin-left: 10px;
  background-color: rgb(236, 235, 235);
  border-radius: 4px;
}
