@font-face {
  font-family: 'NanumPenScript';
  src: url('/NanumPenScript-Regular.ttf');
}

html, body {
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 46);
}

body * {
  font-family: 'NanumPenScript';
}